<style>
  .avatar img {
    width: 100%;
    height: 100%;
  }

  .footer a {
    color: inherit;
  }

  .colorscheme-toggle {
    background-color: transparent !important;
  }

  .persona-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .column-l {
    display: flex;
    flex: 2;
    padding: 2em
  }

  .column-r {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 2em;
    align-items: flex-end;
    /* Ensures alignment to the right */
  }

  button {
    display: block;
    max-width: 300px;
    /* Controls the button width */
    height: auto;
    /* Adjust height to fit content */
    border-radius: 1rem;
    border: none;
    font-size: 100%;
    text-align: center;
    background-color: #377bc8;
    text-decoration: none;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    padding: 0.5rem;
    margin-bottom: 1rem;
    /* Space between buttons */
  }

  .wip-b {
    font-size: 80%;
    background-color: rgb(245, 199, 15);
    padding: 1rem;
    margin-top: 10px;
    border-radius: 1rem;
    border: none;
    text-color: #022649;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
  }

  button:hover {
    background-color: #377bc881;
  }

  button:focus,
  button:active,
  button:hover {
    text-decoration: none; 
  }

  .gh_requ {
    font-size: 0.65em;
    color: #0062c4;
  }
</style>
<section class="container centered">
  <div class="about">
    <div class="persona-container">
      <div class="column-l">
        {{ partialCached "home/avatar.html" . }}
      </div>

      <div class="column-r">
        <a href="" class="downloadLink">
          <button type="button"> <i class="fa-solid fa-download"></i></button>
        </a>
        <a href="" class="WIPdownloadUrl">
          <button type="button" class="wip-b">WIP Installers<br> <span class="gh_requ">Requires GitHub Account </span><i
              class="fa-solid fa-download"></i></button>
        </a>
      </div>
    </div>
    {{ partialCached "home/author.html" . }}
    {{ partialCached "home/social.html" . }}
    <br>

    <a href="https://github.com/pyrevitlabs/pyRevit/issues">
      <img src="https://img.shields.io/github/issues/pyrevitlabs/pyRevit.svg?style=for-the-badge" alt="GitHub issues">
    </a>
    <div></div>
    <a href="https://github.com/pyrevitlabs/pyRevit/pulls">
      <img src="https://img.shields.io/github/issues-pr/pyrevitlabs/pyRevit.svg?style=for-the-badge&color=0062c4"
        alt="GitHub pull requests">
    </a>
    <div></div>
    <a href="https://opencollective.com/pyrevitlabs">
      <img src="https://img.shields.io/opencollective/all/pyrevitlabs.svg?style=for-the-badge&color=9d6b99"
        alt="Open Collective">
    </a>
    <div></div>
    <a href="https://discourse.pyrevitlabs.io">
      <img
        src="https://img.shields.io/discourse/topics?server=https%3A%2F%2Fdiscourse.pyrevitlabs.io&style=for-the-badge&color=ff9a2e"
        alt="Forum">
    </a>

  </div>
  {{ partialCached "home/extensions.html" . }}
</section>